a {
    text-decoration: none;
    color: rgba(15, 41, 58, 1);
}

.modal {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    height: 100%;
    animation: fadeIn 0.5s ease-in-out;

}

.modal .modal-content {
    position: fixed;
    top: 40%;
    bottom: 0;
    left: 40%;
    z-index: 2;
}

.modal .modal-content .items {
    background-color: #FFF;
    padding: 16px 10px;
    border-radius: 10px;
}

.modal .modal-content .items {
    padding: 20px 20px 15px;
}

.modal .modal-content .items .buttonBlock {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    gap: 30px;
}

.modal .buttonBlock .btn {
    padding: 12px;
    background: rgba(15, 41, 58, .9);
	color: #FFFFFF;
    border: none;
    font-size: 15px;
	border-radius: 10px;
	cursor: pointer;
}

.loading {
    text-align: center;
    font-size: 32px;
    padding-top: 32px;
    color: rgba(15, 41, 58, 1);
}

.container {
    display: flex;
    justify-content: center;
    padding: 0 60px;
}

.container .initialBlock {
    max-width: 1070px;
    width: 100%;
}

.container .initialBlock .titlePage{
    text-align: center;
    font-size: 32px;
    padding-top: 32px;
    color: rgba(15, 41, 58, 1);
}

.container .cardBlock {
    padding: 32px 0;
}

.container .initialBlock .cardBlock .processCard {
    background-color: #CECFD1;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.container .initialBlock .cardBlock .processCard .optionBlock {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container .initialBlock .cardBlock .processCard :last-child {
    margin-bottom: 0;
}

.container .initialBlock .cardBlock .processCard .name,
.container .initialBlock .cardBlock .processCard .family {
    font-size: 20px;
    color: rgba(15, 41, 58, 1);
}
.container .initialBlock .cardBlock .processCard .family {
    display: flex;
    gap: 3px;
}

@media (max-width: 834px) and (min-width: 480px) {
    .modal .modal-content {
        left: 32%;
    }
}
@media (max-width: 480px) {
    .container {
        padding: 0 16px;
    }

    .container .initialBlock .cardBlock .processCard {
        background-color: #CECFD1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        padding: 20px 10px;
        border-radius: 10px;
        margin-bottom: 5px;
    }

    .container .initialBlock .cardBlock .processCard .optionBlock {
        display: flex;
        justify-content: flex-end;
    }

    .modal .modal-content {
        left: 16%;
    }
}